* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

.pagina {
    width: 363px;
    height: 475px;
    border: 1px solid black;
    margin: 5px auto 0 auto;
}

.foto {
    width: 162px;
    height: 166px;
    border: 1px solid black;
    padding: 10px;
}

.contato {
    display: block;
    width: 143px;
    height: 39px;
    border: 1px solid black;
    padding: 12px 18px;
    margin-top: 0;
}

.informacoes {
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #ccc;
    padding-top: 6px;
}

.primeiro {
    margin-top: 10px;
    margin-bottom: 40px;
}

.segundo {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.caixas {
    display: flex;
    gap: 5px;
}

.caixa {
    width: 76px;
    height: 76px;
    border: 1px solid black;
    padding: 4px;
}

footer {
    border: 1px solid black;
    margin: 10px 20px 30px 40px;
    height: 20px;
    padding-left: 2px;
}